# Local environment
.env
.DS_Store
.Thumbs.db

# These are repository files that we don't want in our image
.git/
.vagrant/

# Deployment manifests
kubernetes/
deploy/

# Pythion Virtual Environment
venv/

Vagrantfile
Dockerfile
