language: python
python:
  - "2.7"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
before_script: redis-cli ping
script: nosetests -v --rednose
services:
  - redis-server
